tr:nth-child(even) {
    background-color: #f2f2f2;
}
th, td {
    border-bottom: 1px solid black;
}
td {
    padding: 5px;
}

th {
    height: 2rem;
}
table {
    border-collapse: collapse;
    width: 100%;
}

#nav{
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    left: 0;
    background-color: darkgrey;

    padding-top:1em;
    padding-left: 1em;

    z-index: 1;
}

#root{
    position: relative;
    height: 100%;
    overflow: scroll;
    background-color: white;
    margin-left: 110px;
    padding-left: 1em;
    padding-top: 5px;
    margin-top: 5px;
}

html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}