#nav{
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    left: 0;
    background-color: darkgrey;

    padding-top:1em;
    padding-left: 1em;

    z-index: 1;
}

#root{
    position: relative;
    height: 100%;
    overflow: scroll;
    background-color: white;
    margin-left: 110px;
    padding-left: 1em;
    padding-top: 5px;
    margin-top: 5px;
}

html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}